<div class="navbar-fixed">
  <nav class="white">
    <div class="container">
      <div class="nav-wrapper">
        <a routerLink="" class="brand-logo"><i class="material-icons">cloud</i>BubbleTalk</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html"><i class="material-icons">search</i></a></li>
          <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
          <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
          <li><a href="mobile.html">
          <div class="chip">
          <img src="assets/user.jpg" alt="Contact Person">
          Murilo Eduardo
          </div>
          </a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>