<!-- <div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="mdl-card mdl-shadow--6dp">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
			<h2 class="mdl-card__title-text">Login</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<form>
					<div class="mdl-textfield mdl-js-textfield">
						<input [(ngModel)]="usuario.email" class="mdl-textfield__input" type="email" id="usuario" name="usuario.email" ngControl="usuario.email" autofocus />
						<label class="mdl-textfield__label" for="usuario">Email</label>
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input [(ngModel)]="usuario.senha" class="mdl-textfield__input" type="password" id="senha" name="senha" />
						<label class="mdl-textfield__label" for="senha">Senha</label>
					</div>
				</form>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button (click)="fazerLogin()" type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Entrar</button>
			</div>
		</div>
	</div>
</div>

 -->

<div class="center-align">
      <div class="section"></div>

      <h5 class="teal-text">Please, login into your account</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 white row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12 left-align" (submit)="fazerLogin()">
            <div class="row">
              <div class="col s12">
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input [(ngModel)]="usuario.email" class="validate" type="email" name="email" id="email" />
                <label for="email">Enter your email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input [(ngModel)]="usuario.senha" class="validate" type="password" name="password" id="password" />
                <label for="password">Enter your password</label>
              </div>
              <label>
								<a class="teal-text" href="#!"><b>Forgot Password?</b></a>
							</label>
            </div>

            <br />
            <div>
              <div class="row">
                <button type="submit" name="btn_login" class="col s12 btn btn-large waves-effect teal">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <a class="teal-text" href="#!">Create account</a>
    </div>